/* Set background color to black */
body {
  background: url('/DALL·E 2023-03-01 21.20.47 - A cyberpunk cityscape with neon lights, flying cars, and towering skyscrapers..png') ;
  background-color: #f3f3f3; /* replace with your desired color */
  background-size: cover;
}

/* Set text color to light gray */
body, p, h1, h2, h3, h4, h5, h6 {
  color: #ddd;
  font-family: 'Orbitron-Regular', sans-serif;
}

/* Add animations to headings */
h1, h2, h3, h4, h5, h6 {
  color: #99c2ff;
  animation: fadeInUp 1s ease-in-out;
  animation-fill-mode: forwards;
}

/* Define keyframes for animation */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Add hover effect to links */
a {
  color: #99c2ff;
  text-decoration: none;
  border-bottom: 1px solid #99c2ff;
  transition: border-bottom 0.3s ease-in-out;
}

/* Set hover color for links to white */
a:hover {
  color: #fff;
  border-bottom: 1px solid #fff;
}

/* Set background color for code blocks to dark gray */
pre, code {
  background-color: #222;
  color: #ddd;
}

/* Set color for blockquotes to light blue */
blockquote {
  color: #99c2ff;
}

/* Set background color for navigation menu */
.navbar {
  background-color: #222;
}

/* Set color for navigation links */
.navbar a {
  color: #ddd;
}

/* Set hover color for navigation links to light blue */
.navbar a:hover {
  color: #99c2ff;
}
