/* Set background color to black */
body {
  background: url('/DALL·E 2023-03-01 21.20.47 - A cyberpunk cityscape with neon lights, flying cars, and towering skyscrapers..png');
  background-color: #f3f3f3; /* replace with your desired color */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  text-align: center;
  animation: pulse 10s infinite;
}

@keyframes pulse {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 0 -10px;
  }
  100% {
    background-position: 0 0;
  }
}

/* Set text color to light gray */
body, p, h1, h2, h3, h4, h5, h6 {
  font-family: 'Orbitron', sans-serif; /* Apply Orbitron font to all headings and text */
  font-size: 50px;
  color: #ddd;
}

h1 {
  color: #FF00FF;
  text-shadow: 0 0 5px #00ffff, 0 0 10px #00ffff, 0 0 15px #00ffff, 0 0 20px #00ffff, 0 0 30px #00ffff, 0 0 40px #00ffff, 0 0 50px #00ffff;
  animation: glitch 2s infinite;
}

h2{
  color: #00FF00;
  text-shadow: 0 0 5px #00ffff, 0 0 10px #00ffff, 0 0 15px #00ffff, 0 0 20px #00ffff, 0 0 30px #00ffff, 0 0 40px #00ffff, 0 0 50px #00ffff;
  animation: glitch 2s infinite;
}

h3 {
  color: #00FFFF;
  text-shadow: 0 0 5px #00ffff, 0 0 10px #00ffff, 0 0 15px #00ffff, 0 0 20px #00ffff, 0 0 30px #00ffff, 0 0 40px #00ffff, 0 0 50px #00ffff;
  animation: glitch 2s infinite;
}

p {
  color: #FF69B4;
}

@keyframes glitch {
  0% {
    text-shadow: -2px 0 #00ffff;
  }
  25% {
    text-shadow: 2px 0 #00ffff;
  }
  50% {
    text-shadow: -2px 0 #00ffff;
  }
  75% {
    text-shadow: 2px 0 #00ffff;
  }
  100% {
    text-shadow: -2px 0 #00ffff;
  }
}

/* Load Orbitron font from Google Fonts API */
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

/* Set link color to light blue */
a {
  color: #ff9900;
}

/* Set hover color for links to white */
a:hover {
  color: #cc6600;
}

/* Set background color for code blocks to dark gray */
pre, code {
background-color: #222;
color: #ddd;
padding: 10px;
font-family: 'Source Code Pro', monospace;
font-size: 16px;
}

@media screen and (orientation:portrait) {
    /* some code */
}
